{% extends 'base.html' %}
{% import '_lib.html' as lib with context %}

{% block title %}{{ article.title|striptags }} / {{ SITENAME }}{% endblock %}

{% block content %}
  <article class="single" role="article">
    <header>
      <p class="meta">{{ lib.article_time(article) }}</p>
      <h1>
        <a href="{{ SITEURL }}/{{ article.url }}">
          {{ lib.category_glyph(article.category) }}
          {{ article.title | striptags }}
        </a>
      </h1>
    </header>

    <div class="entry-content">
      {{ lib.article_illustration(article) }}
      {{ article.content }}
    </div>

    {{ lib.article_gallery(article) }}

    <footer>
      {{ lib.article_footer(article) }}
      {{ lib.article_social_cruft(article) }}
    </footer>

    <section class="comments"> 
      <h1>Comments!</h1>
      <!--to get your own hash you'll need to make a comment on your site, inspect the page to see the hash data attribute on the comment, and put that in your article template's isso script's author-hashes attribute-->
      <script data-isso="//comments.nyuu.page/"
              data-isso-css-url="https://nyuu.page/theme/sass/isso.css"
              data-isso-default-lang="en"
              data-isso-page-author-hashes="8390471b4511"
              data-isso-reply-notifications-default-enabled="true"
              src="//comments.nyuu.page/js/embed.min.js"></script>
      <section id="isso-thread">
      </section>
    </section>
  </article>

{% endblock %}
