{% extends '_base.html' %}
{% import '_lib.html' as lib with context %}

{% block twitter_card %}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@shroomwaview">
<meta name="og:type" content="website">
<meta name="og:title" content="{{ SITENAME }}">
<meta name="og:description" content="» hi there!">
<meta name="og:image" content="{{ SITEURL }}/theme/images/streetlightcrop.jpg">
{% endblock %}

{% block entirebody %}
<main class="homepage">

  <div class="intro">
    <p>
      This is the website of Milo "nyuu" Nygren-Cassels. I'm a sysadmin at a nonprofit & a freelance programmer.
    </p>
    <p>
      I write about computers and Magic: the Gathering. I care about <a href="https://en.wikipedia.org/wiki/Morphological_freedom">morphological freedom</a> and <a href="https://archive.nyuu.page/archive/1678672425.657913/nickbostrom.com/fable/dragon.html">conquering death</a>.
    </p>
    <p>
      I'm an advocate for using computers to automate repetitive tasks, to free people from unnecessary work. Right now I'm making tools to streamline writing articles about Magic.
    </p>
  </div>

  <div class="account-buttons">
    <a href="mailto:nyuutsu@protonmail.com" class="button" style="background-color: #696b99;">
      <img src="/theme/images/logo-email.png" alt="">
      <label>email</label>
    </a>
    <a href="https://twitter.com/shroomwaview" class="button" style="background-color: #256297;">
      <img src="/theme/images/logo-twitter.png" alt="">
      <label>twitter</label>
    </a>
    <a href="https://reddit.com/u/nyuutsu" class="button" style="background-color: #060709;">
      <img src="/theme/images/logo-reddit.png" alt="">
      <label>reddit</label>
    </a>
    <a href="https://github.com/nyuutsu" class="button" style="background-color: #95696b;">
      <img src="/theme/images/logo-github.png" alt="">
      <label>github</label>
    </a>
    <a href="https://en.wikipedia.org/wiki/Special:Contributions/Nyuuposting" class="button" style="background-color: #002b36;">
      <img src="/theme/images/logo-wikipedia.png" alt="">
      <label>wikipedia</label>
    </a>
    <a href="/media/resume.pdf" class="button" style="background-color: #144871;">
      <img src="/theme/images/logo-resume.png" alt="">
      <label>resume</label>
    </a>
  </div>

  <h1>Words</h1>
  <section class="tile-container">
    <section class="tile">
      <header>
        <a href="https://nyuu.page/blog/" class="cool-button" style="background-color: #85586F;">
          <h2>blog</h2>
        </a>
      </header>
      <p><em>So far</em>, I write about card games and software configuration.</p>
    </section>
    <section class="tile">
      <header>
        <a href="https://www.reddit.com/r/CryptoMoonShots/comments/o0w1vd/truly_a_literally_just_launched_floppa/h1xldhd/" class="cool-button" style="background-color: #be8897;">
          <h2>fraudsplaining</h2>
        </a>
      </header>
      <p>Analyzing contracts from a cryptocurrency fraud subreddit; I liked explaining how the scams worked. I even got some thank-yous. 😊</p>
      <sub><em>Reddit doesn't support linking to "all comments by user in a specific subreddit". The linked comment is a representative example. The mechanism I warned about in the comment was used a short while later to do an exit scam. Spooky!</em></sub>
    </section>
  </section>


  <h1>Programming</h1>
  <section class="tile-container">
    <section class="tile">
      <header>
        <a href="https://github.com/nyuutsu/momir" class="cool-button" style="background-color: green;">
          <time datetime="2022-12-27">2022-12-27</time>
          <h2>momir</h2>
        </a>
      </header>
      <p>Tools for using AI models to generate <em>Magic: The Gathering</em> cards, decks, sets, images, and cockatrice datafiles</p>
      <sub><em>As of June 2023, I have started working on this again. It now uses locally-run LLaMA and the results are a lot better. Repo will be updated soon & at which point I'll remove this notice.</em></sub>
    </section>
    <section class="tile">
      <header>
        <a href="https://github.com/nyuutsu/advent-of-code-2022/" class="cool-button" style="background-color: #96b2cc6;">
          <time datetime="2008-12-02">2022-12-04</time>
          <h2>advent of code '22</h2>
        </a>
      </header>
      <p>Advent of Code is a cool exercise. Here are some of my solutions.</p>
    </section>
    <section class="tile">
      <header>
        <a href="https://github.com/nyuutsu/dotfiles" class="cool-button" style="background-color: #532533;">
          <time datetime="2016-11-24">2016-11-24</time>
          <h2>⚙️ dotfiles ⚙️</h2>
        </a>
      </header>
      <p>System configuration. Highlights: XCompose, i3 statusline, zsh tab completion.</p>
    </section>
  </section>

  <h1><em>Also hosted here …</em></h1>
  <p>I didn't create these. These are some services I host on this domain for my household.</p>
  <section class="tile-container">
    <section class="tile">
      <header>
        <a href="https://archive.nyuu.page/" class="cool-button" style="background-color: #532533">
          <h2>archivebox</h2>
        </a>
      </header>
      <p>Self-hosted internet archive</p>
    </section>
    <section class="tile">
      <header>
        <a href="https://rss.nyuu.page" class="cool-button" style="background-color: #F99000;">
          <h2>commafeed</h2>
        </a>
      </header>
      <p>Self-hosted RSS reader</p>
    </section>
    <section class="tile">
      <header>
        <a href="https://comments.nyuu.page/admin" class="cool-button" style="background-color: #532533;">
          <h2>isso</h2>
        </a>
      </header>
      <p>Self-hosted comments server for my <a href="https://nyuu.page/blog">blog</a></p>
    </section>
    <section class="tile">
      <header>
        <a href="https://wallabag.nyuu.page/" class="cool-button" style="background-color: #532533;">
          <h2>wallabag</h2>
        </a>
      </header>
      <p>Self-hosted read-it-later app</p>
    </section>
  </section>

</main>
{% endblock %}
