{% extends '_base.html' %}
{% import '_lib.html' as lib with context %}

{% block twitter_card %}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@shroomwaview">
<meta name="og:type" content="website">
<meta name="og:title" content="{{ SITENAME }}">
<meta name="og:description" content="» TODO: document this">
<meta name="og:image" content="{{ SITEURL }}/theme/images/streetlightcrop.jpg">
{% endblock %}

{% block entirebody %}
<main class="homepage">

  <div class="intro">
    <p>
      This is the website of Milo "nyuu" Nygren-Cassels. I write about computers and card games. I am into computer programming and think you should totally hire me. I have experience with Python, JavaScript, website content management, web scraping and GPT fine-tuning. (I also have some experience with shell scripting, linux system administration, reviewing Solidity, and more.)
    </p>
  </div>

  <div class="account-buttons">
    <a href="mailto:nyuutsu@protonmail.com" class="button" style="background-color: #696b99;">
      <img src="/theme/images/logo-email.png" alt="">
      <label>email</label>
    </a>
    <a href="https://twitter.com/shroomwaview" class="button" style="background-color: #256297;">
      <img src="/theme/images/logo-twitter.png" alt="">
      <label>twitter</label>
    </a>
    <a href="https://twitter.com/shroomwaview" class="button" style="background-color: #060709;">
      <img src="/theme/images/logo-reddit.png" alt="">
      <label>reddit</label>
    </a>
    <a href="https://github.com/nyuutsu" class="button" style="background-color: #95696b;">
      <img src="/theme/images/logo-github.png" alt="">
      <label>github</label>
    </a>
    <a href="/media/resume.pdf" class="button" style="background-color: #144871;">
      <img src="/theme/images/logo-resume.png" alt="">
      <label>resume</label>
    </a>
  </div>

  <h1>Programming</h1>
  <section class="tile-container">
    <section class="tile">
      <header>
        <a href="https://github.com/nyuutsu/momir" class="cool-button" style="background-color: green;">
          <time datetime="2022-12-27">2022-12-27</time>
          <h2>momir</h2>
        </a>
      </header>
      <p>Tools for using AI models to generate <em>Magic: The Gathering</em> cards, decks, sets, images, and cockatrice datafiles</p>
    </section>
    <section class="tile">
      <header>
        <a href="https://github.com/nyuutsu/advent-of-code-2022/" class="cool-button" style="background-color: #96b2cc6;">
          <time datetime="2008-12-02">2022-12-04</time>
          <h2>advent of code '22</h2>
        </a>
      </header>
      <p>Advent of Code is a cool exercise. Here are some of my solutions.</p>
    </section>
    <section class="tile">
      <header>
        <a href="" class="cool-button" style="background-color: #164868;">
          <!--<time datetime="2022-12-03">2022-12-03</time>-->
          <h2>coming soon!</h2>
        </a>
      </header>
      <p>Scraping and analyzing the data on <a href="https://paperswithcode.com">papers with code</a> like has never been done before!</p>
    </section>
  </section>


  <h1>Words</h1>
  <section class="tile-container">
    <section class="tile">
      <header>
        <a href="https://nyuu.page/blog/" class="cool-button" style="background-color: #85586F;">
          <h2>blog</h2>
        </a>
      </header>
      <p>So far, I write about technical issues or questions I've had that resisted googling. I'm going to try writing a bunch before I start making a point of showing off this website, in part to figure out what I actually want to write about.</p>
    </section>
    <section class="tile">
      <header>
        <a href="https://www.reddit.com/r/CryptoMoonShots/comments/o0w1vd/truly_a_literally_just_launched_floppa/h1xldhd/" class="cool-button" style="background-color: #be8897;">
          <h2>fraudsplaining</h2>
        </a>
      </header>
      <p>Analyzing contracts from a cryptocurrency fraud subreddit; I liked explaining how the scams worked. I even got some thank-yous. 😊</p>
      <p>Reddit doesn't support linking to "all comments by user in a specific subreddit". The linked comment is a representative example. The mechanism I warned about in the comment was used a short while later to do an exit scam. Spooky!</p>
    </section>
    <section class="tile">
      <header>
        <a href="https://github.com/nyuutsu/dotfiles" class="cool-button" style="background-color: #532533;">
          <time datetime="2016-11-24">2016-11-24</time>
          <h2>⚙️ dotfiles ⚙️</h2>
        </a>
      </header>
      <p>System configuration. Highlights: XCompose, i3 statusline, zsh tab completion.</p>
    </section>
  </section>

</main>
{% endblock %}
